@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

body {
  z-index: 20;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #000;
}

input {
  margin: 0px;
  padding: 0px 8px;
  margin-left: 15px;
  width: 100%;
  background: none;
  border: none;
  font-size: 100%;
  text-align: center;
  z-index: 100;
}

#dialog {
  display: none;
  overflow: hidden;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.icon {
  width: 15px;
  height: 15px;
}

.tab-group {
  display: flex;
  float: left;
  height: 25px;
}

.tab-item {
  position: relative;
  flex: 1;
  padding: 3px;
  float: left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #989698;
  background-color: #b8b6b8;
}
.tab-item:first-child {
  border-left: 0;
}
.tab-item.active {
  background-color: #d4d2d4;
}
.tab-item .icon-close-tab {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 15px;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #666;
  border-radius: 3px;
  transform: translateY(-50%);
  z-index: 10;
}

.tab-item-fixed {
  flex: none;
  padding: 3px 10px;
}

#tabs.vertical {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Roboto";
}

#tabs.horizontal {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  font-family: "Roboto";
}

#workspaces.vertical {
  position: absolute;
  top: 35px;
  left: 10px;
  height: calc(100% - 45px);
  background-color: lightgrey;
}

#workspaces.horizontal {
  position: absolute;
  top: 35px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: lightgrey;
}

#workspaces > div {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#components.vertical {
  position: absolute;
  top: 10px;
  height: calc(100% - 20px);
  background-color: lightgrey;
  font-family: "Roboto";
}

#components.horizontal {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  background-color: lightgrey;
  font-family: "Roboto";
}
