@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

input {
  margin: 0px;
  padding: 0px 8px;
  background: none;
  border: none;
  font-size: 100%;
  text-align: center;
}

.tab-spacer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Roboto";
}

.workspace {
  position: absolute;
  top: 35px;
  left: 10px;
  height: calc(100% - 45px);
  background-color: lightgrey;
}

.components {
  position: absolute;
  top: 10px;
  height: calc(100% - 20px);
  background-color: lightgrey;
  font-family: "Roboto";
}

.tab-spacer-horizontal {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
}

.workspace-horizontal {
  position: absolute;
  top: 35px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: lightgrey;
}

.components-horizontal {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  background-color: lightgrey;
}
