* {
  margin: 0px;
  padding: 0px;
}

.menu-item {
  background: #fff;
}

.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
}

.menu-item h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  padding: 7px 12px;
  background: #009688;
}

.menu-item h4:hover {
  background: #00796b;
}

.alpha p {
 font-size: 13px;
 padding: 8px 12px;
 color: #aaa;
}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  display: block;
}

.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  transition: height 0s ease;
}

.menu-item:hover ul {
  height: 100%;
}

.context-menu-item > label > input {
  border-color: #bdbdbd;
  border-style: solid;
  border-width: 1px;
  margin-left: 1px !important;
  margin-right: 6px !important;
}
.context-menu-input > label > input[type="checkbox"] {
  top: 6px !important;
}