body{
overflow-y: auto;

}

#drag-area{
width: 50%;
    height: 800px;
    margin: auto;
    border: 5px solid black;
}
.clickthis{}
.components{
height: 100%;
    width: 50%;
    border: 5px solid red;
margin:auto;
    margin-top: auto;
   
}

.components h1{

    font-weight: bolder;
    font-size: 2em;
 

}

.components h {
font-weight: bolder;
    font-size: 1.5em;

}

.Colour-FAB-Button-image-hidden{
display:none;

}
.Colour-FAB-Button-image-visible{
display:block;

}
.Colour-FAB-Button-text-visible{
display: block;

}
.Colour-FAB-Button-text-hidden{
display: none;

}
