<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>hi</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    
  <script   src="     https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
 <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
    <script>
        
        
     
 $(function() {
     
        var sPositions = localStorage.positions || "{}",
    positions = JSON.parse(sPositions);
$.each(positions, function (id, pos) {
    $("#" + id).css(pos)
})
     
    $( "#draggable" ).draggable({ 
        
        grid: [ 20, 20 ],
         containment: "#drag-area",
    scroll: false,
    stop: function (event, ui) {
        positions[this.id] = ui.position
        localStorage.positions = JSON.stringify(positions)
    
    }
    });
     
   
     
     
        
     
     
        
  
     
    $(".Colour-FAB-Button-text-visible, .Colour-FAB-Button-image-visible").dblclick(function () {
    $('.Colour-FAB-Button-text-visible, .Colour-FAB-Button-image-hidden ' ).toggleClass(" Colour-FAB-Button-text-hidden , Colour-FAB-Button-image-visible ");
    if ($(this).data('Colour-FAB-Button-image-visible , Colour-FAB-Button-text-hidden')) {
        $(this).draggable('option', 'disabled') ? $(this).draggable('enable') : $(this).draggable('disable');
    } else {
        $(this).draggable();
    }
});
     
     
     
 });
        
     
</script>
    
    <body>
    
        <div id="drag-area" > 
       
        
    <div class="components text-center">
        <h1>Components</h1>
        <br><br>
        
        <div class="search-bar">
        
        
        </div>
        <div class="buttons">
            <h>Buttons</h>
            
            
        <ul class="list-group">
            
          
  <li class="list-group-item Colour-FAB-Button-text-visible ui-widget-content" id="draggable">Coloured FAB Button</li>
            
            <!-- Colored FAB button -->
            <div class="Colour-FAB-Button-image-visible
ui-widget-content " >
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored ">
  <i class="material-icons">add</i>
</button>
</div>
            </ul>       

        
        </div>
        
        </div>
        </div>
    </body>
    